.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 8;
  grid-row: 1 / 1;
  background-image: url("../fond_vieux_papier.png"); }
.two {
  grid-column: 1 ;
  grid-row: 2 / 8;
  background-image: url("../fond_vieux_papier.png"); 
}
.three {
  grid-column: 2 / 8;
  grid-row: 2 / 8;
  background-image: url("../fondProduit'.png"); 
}

.form{
  position: absolute;
  left: 1000px;
  top:  30px;
}