.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 8;
    grid-row: 1 / 1;
    background-image: url("../fond_vieux_papier.png");   }
  .two {
    grid-column: 1 ;
    grid-row: 2 / 8;
    background-image: url("../fond_vieux_papier.png"); 
}
  .three {
    grid-column: 2 / 8;
    grid-row: 2 / 8;
    background-image: url("../fondProduit'.png"); 
  }

.product-container{
  position: relative;
  color: rgb(0, 0, 0);
  left: -100px;
}

.buttonbuy{
  background: none;
  position: relative;
  top:20px;
  right:0px;
  cursor: pointer;

}

.logo{
  cursor: pointer;
}




.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.barre-image {
  position: relative;
  display: flex;
  align-items: center;

}

.image {
  cursor: pointer;
  position: absolute;
  top: 5;
  left: 0;
  z-index: 1;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.revenu {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quantite {
  font-size: 18px;
  margin-bottom: 10px;
}

.buttonbuy {
  background-color: #114BAA;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.cout {
  font-size: 14px;
}
.time-left {
  font-size: 14px;
  margin-left: -30px;

}

.barstyle {
  z-index: 0;
  top: 16px;
left: 0px;
width: 100px;
height: 170px;
}
