.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 8;
  grid-row: 1 / 1;
  background-color: rgb(42, 185, 138);
}
.two {
  grid-column: 1 ;
  grid-row: 2 / 8;
  background-color: rgb(206, 176, 250);
}
.three {
  grid-column: 2 / 8;
  grid-row: 2 / 8;
  background-color: rgb(146, 202, 248);
}

.form{
  position: absolute;
  left: 750px;
  top:  30px;
}